*{
    box-sizing: border-box;
}
body{
    min-height: 100dvh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border-radius: 20px;
    width: 380px;
    height: 500px;
    background-color:lightsteelblue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.image_div{
    position: relative;
    object-fit: cover;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    top: -80px;
}
.image_div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.content_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progres_div{
    width: 100%;
}
.title{
   margin: 0;
   font-size: 25px;
}
.creator{
    font-weight: 400;
    margin-top: 3px 0;
}
.time_div{
    display: flex;
    justify-content: space-between;
    position: relative; 
    top:-25px;
}
.progres_div{
    background: white;
    height: 4px;
    width: 90%;
    cursor: pointer;
}
.progres{
    width: 0%;
    background-color: grey;
    height: 100%;
}
.music_control_div{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
i{
    cursor: pointer;
    font-size: 32px;
    color: gray;
    transition: all 1s;
}
i:hover{
    transform: scale(1.3);
    color: black;
}
